---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/q15b851vpa2y/environments/master/entries?include=10&sys.id=2jtXuXy3sKXOu0ZrAaEzkj
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.16.3; platform ruby/3.1.2; os macOS/21;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"2631818234068921396"
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/entries"
      Contentful-Api:
      - cda
      X-Contentful-Region:
      - us-east-1
      Contentful-Cache:
      - HIT
      X-Contentful-Request-Id:
      - 3853178f-e929-4b32-b1d4-287ccd4a00d5
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "metadata": {
                "tags": []
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "q15b851vpa2y"
                  }
                },
                "id": "2jtXuXy3sKXOu0ZrAaEzkj",
                "type": "Entry",
                "createdAt": "2022-09-12T11:06:57.024Z",
                "updatedAt": "2022-09-12T11:06:57.024Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "allDataTypes"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "title": "Testing all data types",
                "richText": {
                  "data": {},
                  "content": [
                    {
                      "data": {},
                      "content": [
                        {
                          "data": {},
                          "marks": [],
                          "value": "Rich text field with ",
                          "nodeType": "text"
                        },
                        {
                          "data": {},
                          "marks": [
                            {
                              "type": "bold"
                            }
                          ],
                          "value": "bold text",
                          "nodeType": "text"
                        },
                        {
                          "data": {},
                          "marks": [],
       [...]
